doctype html

- var styles = styles || [];
- styles.push("/css/project.css");
- styles.push("/css/github-markdown.css");

include _head

body
    .container-fluid
        include _navbar
        h1.github-name.m-t-1
            a(href=github_data.html_url, target="_blank" rel="noopener noreferrer").clear-link-color
                span=github_data.name
                i.fa.fa-external-link.external-link
        div.m-b-2
            em.text-muted= github_data.description
            if github_data.description && github_data.homepage
                span.text-muted.m-l-1.m-r-1= "–"
            a(href=github_data.homepage, target="_blank" rel="noopener noreferrer")= github_data.homepage

        if enableDescription
            h4 Description
            .card.m-b-2: .card-block
                .m.t-2.m-b-2!= contents

        h4 Project Readme
        .card: .card-block
            .markdown-body!= github_readme





    include _scripts
