doctype html

extends page

append styles
	link(rel="stylesheet", href="/css/project.css")
	link(rel="stylesheet", href="/css/github-markdown.css")

block title
	a(href=github_data.html_url, target="_blank" rel="noopener")= github_data.name

block header
	p=github_data.description

	if github_data.homepage
		p: a(href=github_data.homepage, target="_blank", rel="noopener")= github_data.homepage

block contents
	if enableDescription
		section
			h2.project-heading Description
			div!= contents

	if hasReadme
		section
			h2.project-heading Project Readme
			.markdown-body!= github_readme

