---
title: Photography
slantUnpad: true
flickr:
  set_id: "72157667632529635"
  extras: "url_o, o_dims"
---

extends ../layouts/page

append scripts
	script(src="https://unpkg.com/bricks.js@1.8.0/dist/bricks.js")
	script(src="/js/photography.js")

append styles
	link(rel="stylesheet", href="/css/photography.css")


block title
	span Photos

block header
	p I do photography as a hobby - whenever I go somewhere or do something fun, my camera comes with me. I find it really interesting to discover all the different ways that you can capture a particular moment.

block contents
	.gallery
		each photo in flickr_photos.reverse()
			- var photoUrl = "//www.flickr.com/photos/"+ flickr_photos.ownername + "/" + photo.id
			img.picture(
			   src=photo.thumb
				data-original-size=photo.url_o
				width=photo.width_o 
				height=photo.height_o
			)


	.lightbox-container(style="display:none;")
		.lightbox-exit!= "&times;"
		img.lightbox-photo
